//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-sm-5.col-xs-6
        .header__logo
          img(src="img/logo.png", alt="")
      .col-sm-7.col-xs-6
        .header__btn
          a(href="https://nhancenow.com" target="_blank").btn For Business
//END header
