//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-xs-5
        .header__logo
          img(src="img/logo.png", alt="")
      .col-xs-7
        a(href="#").btn For Business
//END header
