meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="Digital Experience Card, Digital Experience Cloud, Purchase Ownership Experience, Conversational Gateway, Conversional AI, Omni Channel Experience, Multi Channel Experience, Personalised Digital Dairy, Digital Customer Experience, DX Card, Customer Purchase Experience, Customer Experience Platform, Customer Engagement, User Experience Platform,  Digital Experience")
meta(name="description" content="One app to conveniently manage the lifecycle of all the things you care about.")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="shortcut icon" href="img/favicon_n.ico" type="image/x-icon")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
link(rel="stylesheet" media="all" href="css/app.css")

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="www.googletagmanager.com/gtag/js?id=UA-118011204-4"></script>
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118011204-4');

//- Schema.org –
script(type='application/ld+json').
  {

    "@context": "http://www.schema.org",

    "@type": "WebSite",

    "name": "dxcard",

    "url": "http://dxcard.club/"

  }