@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-android: "\EA01";
$icon-apple: "\EA02";
$icon-arrow-right: "\EA03";
$icon-check: "\EA04";
$icon-double-arrows: "\EA05";
$icon-star: "\EA06";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-android:before { content: $icon-android; }
.icon-apple:before { content: $icon-apple; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-check:before { content: $icon-check; }
.icon-double-arrows:before { content: $icon-double-arrows; }
.icon-star:before { content: $icon-star; }
