@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-android: "\EA01";
$icon-apple: "\EA02";
$icon-arrow-down: "\EA03";
$icon-arrow-right-circle: "\EA04";
$icon-arrow-right: "\EA05";
$icon-arrow_left-cicle: "\EA06";
$icon-arrow_right-circle: "\EA07";
$icon-check: "\EA08";
$icon-double-arrows: "\EA09";
$icon-facebook: "\EA0A";
$icon-left-chevron: "\EA0B";
$icon-linkedin: "\EA0C";
$icon-pinterest: "\EA0D";
$icon-right-chevron: "\EA0E";
$icon-star: "\EA0F";
$icon-twitter: "\EA10";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-android:before { content: $icon-android; }
.icon-apple:before { content: $icon-apple; }
.icon-arrow-down:before { content: $icon-arrow-down; }
.icon-arrow-right-circle:before { content: $icon-arrow-right-circle; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-arrow_left-cicle:before { content: $icon-arrow_left-cicle; }
.icon-arrow_right-circle:before { content: $icon-arrow_right-circle; }
.icon-check:before { content: $icon-check; }
.icon-double-arrows:before { content: $icon-double-arrows; }
.icon-facebook:before { content: $icon-facebook; }
.icon-left-chevron:before { content: $icon-left-chevron; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-pinterest:before { content: $icon-pinterest; }
.icon-right-chevron:before { content: $icon-right-chevron; }
.icon-star:before { content: $icon-star; }
.icon-twitter:before { content: $icon-twitter; }
