.icon-android {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-apple {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right-circle {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow_left-cicle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow_right-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-double-arrows {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-chevron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-right-chevron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #010002;
}
