.icon-android {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-apple {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-double-arrows {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
