section.about
  .container
    .about__title
      h2 
        b Say Hello to Convenience
        | Introducing D
        span X
        | Card
        span .
      p The end to all your product and services management worries is just a 
        b D
          span X
          | Card 
        | away
    .row.center-xs
      .col-xs-12
        .about__purchases
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(-480%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(-180deg); position: absolute; opacity: 0;")
            img(src="img/icon-01.png")
            span car
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(-325%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(360deg); position: absolute; opacity: 0;")
            img(src="img/icon-02.png")
            span mobile
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(-180%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(170deg); position: absolute; opacity: 0;")
            img(src="img/icon-03.png")
            span travel
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(-20%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(-90deg); position: absolute; opacity: 0;")
            img(src="img/icon-04.png")
            span furniture
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(145%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(-60deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(-180deg); position: absolute; opacity: 0;")
            img(src="img/icon-05.png")
            span home appliances
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(300%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(30deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(360deg); position: absolute; opacity: 0;")
            img(src="img/icon-06.png")
            span sports
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(450%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(20deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(170deg); position: absolute; opacity: 0;")
            img(src="img/icon-07.png")
            span jewellery
          .about__purchases__block(data-210-top="transform:translateY(-60%) translateX(600%) rotate(0deg); position: absolute; opacity: 1;" data-130-top="transform:translateY(20%) translateX(-300%) rotate(-45deg); position: absolute; opacity: 1;" data-0-top="transform:translateY(100%) translateX(-300%) rotate(-90deg); position: absolute; opacity: 0;")
            img(src="img/icon-08.png")
            span health
      .col-sm-6.col-xs-12
        .about__phone
          img(src="img/iphone-frame.png", alt="").phone
          //- img.about__phone-img(src="img/home/bg-nhance.png" srcset="img/home/bg-nhance@2x.png 2x, img/home/bg-nhance@3x.png 3x")
          .swiper(data-320-top="transform:translateY(-100%);" data-120-top="transform:translateY(0%);")
            .swiper-container.swiper-animated
              .swiper-wrapper
                .swiper-slide
                  img(src='img/car.png')
                .swiper-slide
                  img(src='img/mobile.png')
                .swiper-slide
                  img(src='img/travel.png')
                .swiper-slide
                  img(src='img/furniture.png')
                .swiper-slide
                  img(src='img/home_appliances.png')
                .swiper-slide
                  img(src='img/sports.png')
                .swiper-slide
                  img(src='img/jewellery.png')
                .swiper-slide
                  img(src='img/insurance.png')
      .col-sm-6.col-xs-12
        .about__text
          p 
            span NHANCE NOW 
            | is your personal digital diary which servers as your one stop hub to automate the post purchase journey of all the things you love. Its powered by an advanced AI engine and works 24/7 to give you the best possible ownership experience 
