.baner
  .baner__content
    .baner__block
      strong Create Your First
      p D
        span X
        | Card
      b Download
      .baner__block__app
        a(href="#")
          i.icon.icon-android
          | Android
        a(href="#")
          i.icon.icon-apple
          | iOS