.baner
  .baner__content
    .baner__block
      strong Create Your First
      p D
        span X
        | Card
      .baner__block__footer
        b Download
        .baner__block__app
          a(href="https://play.google.com/store/apps/details?id=com.nhance.b2c&hl=en_IN" target="_blank")
            i.icon.icon-android
            | Android
          a(href="https://itunes.apple.com/us/app/nhance-now/id1173807263?mt=8" target="_blank")
            i.icon.icon-apple
            | iOS