.improvement
  .container
    .improvement__title
      h2 Meet your Super Powers
      p See how you can upgrade your convenience levels
    .improvement__block.improvement__block-1
      .improvement__block__parallax#improvement__parallax-1
        div(data-depth="0.4") Manage
      .row.middle-xs
        .col-xs-6
          .improvement__block__text
            h3 One place<br> for everything 
            p Manage everything (well almost!) under a single digital roof. Every DX card is personalised with documents, invoices, self service videos and everything else which is important to have the best ownership experience.
        .col-xs-6
          .improvement__block__img
            img(src="img/benifts-01.png", alt="")
    .improvement__block.improvement__block-2
      .improvement__block__parallax#improvement__parallax-2
        div(data-depth="0.4") Personal
      .row.middle-xs
        .col-xs-6
          .improvement__block__img
            img(src="img/benifts-02.png", alt="")
        .col-xs-6
          .improvement__block__text
            h3 Personal AI manager
            p Simply add your favourite products and services and transfer the responsibility of managing the post purchase journey to an intelligent automated system. 
    .improvement__block.improvement__block-3
      .improvement__block__parallax#improvement__parallax-3
        div(data-depth="0.4") Rewards
      .row.middle-xs
        .col-xs-6
          .improvement__block__text
            h3 A shower of offers and rewards
            p Every DX card is your gateway to a privileged club. You get the best offers in town, jaw dropping rewards and other privilege benefits which are sure to bring a big beaming smile on your face. 
        .col-xs-6
          .improvement__block__img
            img(src="img/benifts-03.png", alt="")