.improvement
  .container
    .improvement__title
      h2 Meet your Super Powers
      p See how you can upgrade your convenience levels
    .improvement__block.improvement__block-1
      .improvement__block__parallax(data-aos="fade-right") Manage
      .row.middle-xs
        .col-sm-6.col-xs-12
          .improvement__block__text
            h3 One place<br> for everything 
            p Manage everything (well almost!) under a single digital roof. Every DX card is personalised with documents, invoices, self service videos and everything else which is important to have the best ownership experience.
        .col-sm-6.col-xs-12
          .improvement__block__img(data-bottom-top="position:relative;top:80px;" data-top-bottom="position:relative;top:-50px;")
            img(src="img/benifts-01.png", alt="")
    .improvement__block.improvement__block-2
      .improvement__block__parallax(data-aos="fade-left") Personal
      .row.middle-xs
        .col-sm-6.col-xs-12.first-sm
          .improvement__block__img(data-bottom-top="position:relative;top:80px;" data-top-bottom="position:relative;top:-50px;")
            img(src="img/benifts-02.png", alt="")
        .col-sm-6.col-xs-12.first-xs
          .improvement__block__text
            h3 Personal AI manager
            p Simply add your favourite products and services and transfer the responsibility of managing the post purchase journey to an intelligent automated system. 
    .improvement__block.improvement__block-3
      .improvement__block__parallax(data-aos="fade-left") Recommendations
      .row.middle-xs
        .col-sm-6.col-xs-12.first-xs
          .improvement__block__text
            h3 Smart Recommendations
            p Every DX card you create is powered by an army of smart bots . They help you with timely tips, suggest the best care plans, discover the best accessories and quick answers to your queries. They know what you like!
        .col-sm-6.col-xs-12.first-sm
          .improvement__block__img(data-bottom-top="position:relative;top:80px;" data-top-bottom="position:relative;top:-50px;")
            img(src="img/benifts-02.png", alt="")
    .improvement__block.improvement__block-4
      .improvement__block__parallax(data-aos="fade-right") Rewards
      .row.middle-xs
        .col-sm-6.col-xs-12
          .improvement__block__img(data-bottom-top="position:relative;top:80px;" data-top-bottom="position:relative;top:-50px;")
            img(src="img/benifts-03.png", alt="")
        .col-sm-6.col-xs-12
          .improvement__block__text
            h3 A shower of offers and rewards
            p Every DX card is your gateway to a privileged club. You get the best offers in town, jaw dropping rewards and other privilege benefits which are sure to bring a big beaming smile on your face. 