section.intro
  .container
    .row
      .col-md-7.col-xs-12
        .intro__title
          h1 Organise chaos
            span
            | <br>Simplify your life
            span
          p One app to conveniently manage the lifecycle of all the things you care about.
        .intro__app
          a(href="#").intro__app__download.animated.infinite.pulse Download
            i.icon.icon-arrow-right
          a(href="#").intro__app__link
            i.icon.icon-android
            | Android
          a(href="#").intro__app__link
            i.icon.icon-apple
            | iOS
      .col-md-5.col-xs-12
        .intro__img
          img(src="img/home-intro.png", alt="" data-bottom-top="bottom:70px;" data-top-bottom="bottom:-70px;")
          ul.intro__list
            li
              i.icon.icon-check
              | Self Service
            li 
              i.icon.icon-check
              | Interactive Support
            li 
              i.icon.icon-check
              | Exclusive Rewards
            li 
              i.icon.icon-check
              | Smart Recommendations
            li 
              i.icon.icon-check
              | Digital Documents