section.intro
  .container
    .row
      .col-md-7.col-xs-12
        .intro__title
          h1 Organise chaos
            span
            | <br>Simplify your life
            span
          p One app to conveniently manage the lifecycle of all the things you care about.
        .intro__app
          a(href="#").intro__app__download.animated.infinite.pulse Download
            i.icon.icon-arrow-right
          a(href="https://play.google.com/store/apps/details?id=com.nhance.b2c&hl=en_IN" target="_blank").intro__app__link
            i.icon.icon-android
            | Android
          a(href="https://itunes.apple.com/us/app/nhance-now/id1173807263?mt=8" target="_blank").intro__app__link
            i.icon.icon-apple
            | iOS
      .col-md-5.col-xs-12
        .intro__img
          img(src="img/home-intro.png", alt="" data-bottom-top="bottom:70px;" data-top-bottom="bottom:-70px;")
