.reviews
  .container
    .reviews__title
      h2 
        span The outpouring of love is
        | Overwhelming
      p See how 
        b D
          span X
          | Cards 
        | are changing lives everyday
  .reviews__content
    .swiper-container.swiper-reviews
      .swiper-wrapper
        .swiper-slide(style="background-image: url('img/testi-bg-01.jpg')")
        .swiper-slide(style="background-image: url('img/testi-bg-01.jpg')")
        .swiper-slide(style="background-image: url('img/testi-bg-01.jpg')")
        .swiper-slide(style="background-image: url('img/testi-bg-01.jpg')")
    .container
      h3 Bots and Live Video<br>New instant support channels
      .reviews__block
        p “For a single man like me it’s a delight. I can get the best resolution for my queries without having to worry about an outsider’s intrusion to my private space.”
        b - A typical young professional
        .reviews__block__stars
          a(href="#")
            i.icon.icon-star
          a(href="#")
            i.icon.icon-star
          a(href="#")
            i.icon.icon-star
          a(href="#")
            i.icon.icon-star
          a(href="#")
            i.icon.icon-star
        ul.reviews__block__stages
          li Request assistance
          li AI Bots provide first level response
          li Escalates to support agent
          li Remote Live video support
          li Safe, secure and instant resolution